@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}

<h2>@ViewData["Title"]</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Роль</th>
            <th></th>
        </tr>
        </thead>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.User.Email</td>
                @if (user.Role == Role.Admin)
                {
                    <td>Администратор</td>
                }
                else
                {
                    <td>Пользователь</td>
                }
                <td>
                    @if (!user.User.UserName.Equals(User.Identity.Name))
                    {
                        <form asp-action="Edit" asp-route-id="@user.User.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">Изменить роль</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@user.User.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
</div>